name: CWL Workflow

on:
  push:
    branches: [ main ]

jobs:
  run-cwl:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install cwlref-runner

    - name: Set execute permission for workflow.py
      run: chmod +x workflow.py
      
    - name: List directory contents
      run: ls -l


    - name: Run CWL workflow
      run: |
        cwltool $GITHUB_WORKSPACE/run_workflow.cwl $GITHUB_WORKSPACE/input.yml
